{% extends 'navbar.html' %}
{% load static %}
{% block content %}
{% include 'social_icons.html' %}
      <div class="header-img" id="home">
       <div class="shop-now-container">
          <button class="shop-now-btn">Shop Now</button>
          <div class="arrow-down"></div>
        </div> 
        <img src="{% static 'img/header1.jpg' %}" alt="">
      </div>

    <section class="section__container choose__container" id="choose">
      <img class="choose__bg" src="{% static 'img/dot-bg.png' %}" alt="bg" />
      <div class="choose__content">
        <h2 class="section__header">Why Choose Us</h2>
        <p class="section__subheader">
          Experience Unmatched Creativity and Expertise in Interior Design.
          Discover Why We're the Right Choice for Your Dream Space
        </p>
        <div class="choose__grid">
          <div class="choose__card">
            <span><i class="ri-truck-line"></i></span>
            <h4>Fast & Free Shipping</h4>
            <p>
              Elevate your interior design with our Fast & Free Shipping service
              without delay
            </p>
          </div>
          <div class="choose__card">
            <span><i class="ri-shopping-bag-3-line"></i></span>
            <h4>Easy to Shop</h4>
            <p>
              Discover Effortless Elegance: Explore Our Easy-to-Shop Interior
              Design Solutions
            </p>
          </div>
          <div class="choose__card">
            <span><i class="ri-customer-service-2-line"></i></span>
            <h4>24/7 Support</h4>
            <p>
              Experience peace of mind knowing that our dedicated team is
              available round the clock
            </p>
          </div>
          <div class="choose__card">
            <span><i class="ri-loop-right-line"></i></span>
            <h4>Hassle Free Returns</h4>
            <p>
              We believe in the perfect match, and if it doesn't quite fit, we
              make returning items a breeze
            </p>
          </div>
        </div>
      </div>
      <div class="choose__image">
        <img src="{% static 'img/choose.jpg' %}" alt="choose" />
      </div>
    </section>

    <section class="offer__container" id="offer">
      <div class="offer__grid__top">
        <img src="{% static 'img/offer-1.jpg' %}" alt="offer" />
        <img src="{% static 'img/offer-2.jpg' %}" alt="offer" />
        <img src="{% static 'img/offer-3.jpg' %}" alt="offer" />
        <div class="offer__content">
          <h2 class="section__header">Smart Offers</h2>
          <p class="section__subheader">
            Explore exclusive deals to transform your interior with style
          </p>
          <button class="btn">Explore Now</button>
        </div>
      </div>
      <div class="offer__grid__bottom">
        <img src="{% static 'img/offer-4.jpg' %}" alt="offer" />
        <img src="{% static 'img/offer-5.jpg' %}" alt="offer" />
        <img src="{% static 'img/offer-6.jpg' %}" alt="offer" />
        <img src="{% static 'img/offer-7.jpg' %}" alt="offer" />
      </div>
    </section>

    <section class="section__container craft__container" id="craft">
      <div class="craft__content">
        <h2 class="section__header">Crafted with excellent material</h2>
        <p class="section__subheader">
          Elevate Your Space with Quality and Style
        </p>
        <button class="btn">Explore</button>
      </div>
      <div class="craft__image">
        <div class="craft__image__content">
          <img src="{% static 'img/craft-1.png' %}" alt="craft" />
          <p>Nordic Chair</p>
          <h4>$65.00</h4>
        </div>
        <a href="#"><i class="ri-add-line"></i></a>
      </div>
      <div class="craft__image">
        <div class="craft__image__content">
          <img src="{% static 'img/craft-2.png' %}" alt="craft" />
          <p>Wingback Chair</p>
          <h4>$50.00</h4>
        </div>
        <a href="#"><i class="ri-add-line"></i></a>
      </div>
      <div class="craft__image">
        <div class="craft__image__content">
          <img src="{% static 'img/craft-3.png' %}" alt="craft" />
          <p>Accent Chair</p>
          <h4>$70.00</h4>
        </div>
        <a href="#"><i class="ri-add-line"></i></a>
      </div>
    </section>
   
    <section class="section__container blog_container" id="blog">
      <h2 class="section__header">Recent Blog</h2>
      <div class="blog__grid">
        <div class="blog__card">
          <img src="{% static 'img/blog-1.jpg' %}" alt="blog" />
          <h4>Mastering Modern Minimalism</h4>
          <p><span>by</span> DesignSavvySoul <span>on</span> Apr 18th, 2022</p>
        </div>
        <div class="blog__card">
          <img src="{% static 'img/blog-2.jpg' %}" alt="blog" />
          <h4>The Fusion of Tech and Design</h4>
          <p>
            <span>by</span> ChicNestInteriors <span>on</span> Nov 10th, 2022
          </p>
        </div>
        <div class="blog__card">
          <img src="{% static 'img/blog-3.jpg' %}" alt="blog" />
          <h4>Eco-Friendly Modern Interiors</h4>
          <p><span>by</span> HomeStyleHarmony <span>on</span> Feb 25th, 2023</p>
        </div>
      </div>
    </section>



    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
{% include 'footer.html' %}
{% endblock %}


