{% extends 'navbar.html' %}
{% load static %}
{% block content %}

<div class="hero">
    <div class="form-box">
      <h2 style="text-align: center;">Login</h2>
<!--           <div class="social-reg">
            <img src="img/icons8-facebook.svg" alt="">
            <img src="img/icons8-instagram.svg" alt="">
           </div> -->  
       
    <form id="login" class="input-group" action="">
        <input type="text" class="input-field" placeholder="Enter email" required>
        <input type="password" class="input-field" placeholder="Enter password" required>
        <p class="p-formlog">Dont have an account? <a href="{% url 'signup' %}">Sign up</a></p>
        <p class="p-formlog"><a href="http://">Forgotten password?</a></p>
        
        <button type="submit" class="submit-btn">Login </button>

    </form>
    </div>

</div>
    <div style="height: 600px;"><img style="display: block; margin-left: auto;" src="{% static 'img/furniturestore-shop-pic1.webp' %}"  alt=""></div>


{% include 'footer.html' %}
{% endblock %}