{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"rel="stylesheet"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <header class="header">
      <nav>
        <div class="nav__logo"><a href="#"><img src="{% static 'img/logo.svg' %}" alt="logo" height="80"></a></div>
        <ul class="nav__links" id="nav-links">
          <li class="link"><a href="{% url 'index' %}">Home</a></li>

          <li class="link dropdown">
            <a href="#">Categories <i class="ri-arrow-down-s-line"></i></a>
            <ul class="dropdown-menu">
              <li><a href="#craft1">Kitchen</a></li>
              <li><a href="#craft2">Living</a></li>
              <li><a href="#craft3">Bedroom</a></li>
            </ul>
          </li>
          <li class="link"><a href="{% url 'products' %}">Shop</a></li>
          <li class="link"><a href="#choose">Why Us</a></li>
          <li class="link"><a href="#">Downloads</a></li>
          <li class="link"><a href="about_us.html">About Us</a></li>
          <li class="link"><a href="#blog">Blog</a></li>
          <li class="link">
            <form action="/"><input type="text" placeholder="Search" />
            <button><i class="ri-search-line"></i></button>
          </form></li>
        </ul>
        <div class="nav__menu__btn" id="menu-btn">
          <span><i class="ri-menu-line"></i></span>
        </div>
        

        {% if request.user.customer %}
        <div class="nav__actions">
          <span><a href="#"><i class="ri-shopping-cart-2-fill"></i> </a></span>
          <span><a href="#"><i class="ri-user-fill"></i>{{request.user.username}}</a></span>
          <span><a href="#">logout</a></span>
        </div>
        {% else %}
        <div class="nav__actions">
          <span><a href="#"><i class="ri-shopping-cart-2-fill"></i> </a></span>
          <span><a href="{% url 'login' %}"><i class="ri-user-fill"></i></a></span>
        </div>
        {% endif %}
      </nav>
      {% block content %}
      {% endblock %}