{% extends 'navbar.html' %}
{% load static %}
{% block content %}
  <div id="error-messages">
            <!-- Display error messages here -->
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
<div class="hero">
    <div class="form-box">
        <h2 style="text-align: center;">Sign Up</h2>
          <!-- <div class="social-reg">
            <img src="img/icons8-facebook.svg" alt="">
            <img src="img/icons8-instagram.svg" alt="">
           </div>  --> 
         
    
    <form id="signup" name="signup" method="post" class="input-group" >
        {% csrf_token %}
        <input type="text" name="first_name" class="input-field" placeholder="Enter first name" required>
        <input type="text" name="last_name" class="input-field" placeholder="Enter last name" required>
        <input type="text" name="username" class="input-field" placeholder="Enter username" required>
        <input type="email" name="email" class="input-field" placeholder="Enter email" required>
        <input type="tel" name="phone_no" class="input-field" placeholder="Enter phone no" required>
        <input type="password" name="password" class="input-field" placeholder="Enter password" required>
        <input type="password" name="password2" class="input-field" placeholder="Confirm password" required>
        <p class="p-formreg">Already have an account? <a href="{% url 'login' %}">Login</a></p>
        <input type="checkbox" name="" class="check-box"><span> I agree to Terms & Conditions.</span>
        <button type="submit" class="submit-btn">Create account </button>
    </form>
    </div>
</div>
    <div style="height: 600px;"><img style="display: block; margin-left: auto;" src="{% static 'img/furniturestore-shop-pic1.webp' %}"  alt=""></div>

    <script>
        // Automatically hide error messages after 3 seconds
        document.addEventListener('DOMContentLoaded', function () {
            setTimeout(function () {
                var errorMessages = document.getElementById('error-messages');
                if (errorMessages) {
                    errorMessages.innerHTML = ''; // Clear error messages
                }
            }, 3000); // 3000 milliseconds = 3 seconds
        });
    </script>

{% include 'footer.html' %}
{% endblock %}