{% load static %}

<!--Social media Icons-->
<div class="socials_media_icons">
    <ul class="socials_sticky">
        <li>
            <img src="{% static 'img/icons8-facebook.svg' %}" width="32" height="32">
            <p><a href="https://www.facebook.com/codexworld" target="_blank">Facebook</a></p>
        </li>
        <li>
            <img src="{% static 'img/icons8-twitterx.svg' %}" width="32" height="32">
            <p><a href="https://twitter.com/codexworldblog" target="_blank">Follow us on X</a></p>
        </li>
        <li>
            <img src="{% static 'img/icons8-instagram.svg' %}" width="32" height="32">
            <p><a href="https://plus.google.com/codexworld" target="_blank">Instagram</a></p>
        </li>
        <li>
            <img src="{% static 'img/icons8-tiktok.svg' %}" width="32" height="32">
            <p><a href="https://www.linkedin.com/company/codexworld" target="_blank">TikTok</a></p>
        </li>
    </ul>
</div>
<!--Socials end here-->    